<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Investiment Insights - Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1><i class="fas fa-chart-line"></i> Welcome to Investiment Insights</h1>
        <p>Investiments with AI insights.</p>
        <a href="/single" class="button"><i class="fas fa-search-dollar"></i> Analyze Single Stock</a>
        <a href="/crypto" class="button"><i class="fas fa-search-dollar"></i> Cryptocurrency Analysisk</a>
        <a href="/compare" class="button"><i class="fas fa-exchange-alt"></i> Compare Stocks</a>
    </div>
</body>
</html>
